.menu {
  width: 300px;
  margin-left: -300px;
  background-color: antiquewhite;
  position: relative;
  height: 100%;

  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  transition-duration: 0.5s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.absolute {
  position: absolute;
  left: 50px;
  height: 90vh;
}

.title {
  background-color: darkorange;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: default;
}

.layout-widget-menu {
  display: flex;
  flex-wrap: wrap;

  align-content: center;
  align-items: center;
  align-self: center;

  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.layout-widget-item {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;

  width: fit-content;
  min-width: 30%;
}

.layout-widget-item:hover {
  background-color: #ccc;
  cursor: grab;
}

.layout-widget-item.active {
  background-color: #04aa6d;
  color: white;
  cursor: grabbing;
}
